
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for FakeMapping</h1>

<f:flashMessages />

<table  class="tx_diufaker" >
	<tr>
		<th><f:translate key="tx_diufaker_domain_model_fakemapping.model" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fakeMappings}" as="fakeMapping">
		<tr>
			<td><f:link.action action="show" arguments="{fakeMapping : fakeMapping}"> {fakeMapping.model}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fakeMapping : fakeMapping}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fakeMapping : fakeMapping}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FakeMapping</f:link.action>
</f:section>