
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for FakeMapping</h1>

<f:flashMessages />
<f:render partial="FakeMapping/Properties" arguments="{fakeMapping:fakeMapping}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="create">New FakeMapping</f:link.action>
</f:section>